<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardAccountManagement">
        <plugin name="RoeTech_GiftCard_Plugin" type="RoeTech\GiftCard\Plugin\GiftCardPlugin" sortOrder="2" disabled="false" />
    </type>   -->  
    <preference for="Amasty\GiftCardAccount\Model\GiftCardAccount\GiftCardAccountManagement" type="RoeTech\GiftCard\Model\GiftCardPlugin" />
</config>